<h1> <small class="title">Detalle del heroe</small> </h1>
<hr>
<button class="home-button" routerLink="/"><mat-icon>home</mat-icon>Volver</button>

<div class="heroe-content col">

    <form [formGroup]=formHeroe>

        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" placeholder="ID" formControlName="id" name="id">
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre del héroe" formControlName="name" name="nombre">
        </div>

        <div class="form-group">
            <label>Poder</label>
            <input type="text" class="form-control" formControlName="power" name="poder" placeholder="Poder del héroe">
        </div>

    </form>

</div>