.title {
    margin: 20px;
}

.home-button {
    margin: 20px;
    display: flex;
    align-items: center;
}

.header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter {
        display: inline-flex;
    }
    .add-button {
        button {
            display: flex;
            align-items: center;
        }
    }
}

table {
    margin: 20px;
    width: 100%;
}
