table {
    width: 100%;
}

.home-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .filter {
        display: inline-flex;
    }
}
